<div class=" h-screen bg-slate-100">
  <ul class="w-full px-8 py-4 bg-blue-300 flex gap-6">
    <li>
      <a class="px-4 py-4" routerLink="/change-detection" routerLinkActive="bg-blue-500 font-bold text-white">
        Change Detection
      </a>
    </li>
    <li>
      <a class="px-4 py-4" routerLink="/lesson-router" routerLinkActive="bg-blue-500 font-bold text-white">
        Router Demo
      </a>
    </li>
    <li>
      <a class="px-4 py-4" routerLink="/custom-directive" routerLinkActive="bg-blue-500 font-bold text-white">
        Custom Directive
      </a>
    </li>
  </ul>

  <div class="container mx-auto my-8">
    <ng-container *ngIf="isRoot$ | async">
      <h1 class="text-xl font-bold">Choose the lesson in the navbar above</h1>
    </ng-container>
    <router-outlet></router-outlet>
  </div>
</div>